html {  
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/5.jpg)  ; 
   background-size: cover;
}

caption{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(242, 247, 246);
    text-shadow: rgb(185, 24, 190);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 1px;
}



table {
    font-family: 'Courier New', Courier, monospace;
   margin-top: 50px;
   color: aliceblue;
   border:2px solid beige;
   text-align:center;
   width: 1200px;
  }

th{
    background-color: rgb(249, 243, 250);
    color: rgb(36, 2, 37);   
  }


  table td:nth-child(1){
      width: 5%;
      background-color:rgb(249, 243, 250) ;
      color: rgb(36, 2, 37); 
  }
  
  table td:nth-child(2){
    width: 10%;
}
table td:nth-child(3){
    width: 40%;
}
table td:nth-child(4){
    width: 5%;
}
table td:nth-child(5){
    width: 5%;
}
table td:nth-child(6){
    width: 40%;
} 
 table td:nth-child(7){
    width: 40%;
}  
table td:nth-child(8){
    width: 5%;
}